.color_description {
    color: #666;
}

.color_product {
    color: #000;
}

.border_container {
    display: flex;
    flex-grow: 1;
    position: relative;
    flex-direction: column;
    border-bottom: 4px solid;
    border-right: 4px solid;
    border-left: 4px solid;
    border-color: #1698d9;
    box-sizing: border-box;
    background: #f2f2f2;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.info_container {
    margin-left: 49px;
    flex-grow: 1;
}


.product {
    margin-top: 10px;
    font-size: 46px;
    composes: color_product;
    font-weight: bold;
    height: 43px;
    line-height: 34px;
    position: relative;
    left: -3px;
}

.description_product {
    composes: color_product;
    font-weight: bold;
    font-size: 24px;
    height: 23px;
    line-height: 23px;
}

.description_present_container {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    composes: color_description;
    margin-top: 17px;
    width: 127px;
}

.circle_wrap {
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 1;
}

.cat_photo {
    background: url('../../../Core/KIT/FunBox/img/Photo.png') no-repeat -28px 2px;
    width: 276px;
    height: 270px;
    position: relative;
    bottom: 0;
    left: 0;
    border-radius: 8px;
}