.main {
    display: flex;
    flex-direction: column;
    min-height: 97vh;
    background-color: lightskyblue;
    align-items: center;
    justify-content: center;
}

.form {
    width:500px;
    height: 500px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}