.main {
    display: flex;
    height: 44px;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 13px;
}

.button {
    font-size: 13px;
    color: #1698d9;
    border-bottom: 1px dashed #1698d9;
    font-weight: 600;
    margin-left: 5px;
    cursor: pointer;
}

.disabled {
    color: #ffff66;
    cursor: default;
}