.button {
    display: flex;
    height: 26px;
    align-items: center;
    justify-content: center;
    background-color: #6c757d;
    border-color: #6c757d;
    border-radius: 3px;
    padding: 0 10px;
    cursor: pointer;
}

.login {
    background-color: #007bff;
    border-color: #007bff;
}

.login:hover{
    background-color: #0069d9;
    border-color: #0062cc;
}

.text {
    color: #fff;
    font-size: 14px;
}

.read_only {
    cursor: default;
}