.main {
    display: flex;
    height: 50px;
    border-bottom: 1px solid #d8d8d8;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.header_text {
    color: #007bff;
    font-weight: bold;
    font-size: 16px;
}

.header_login {
    display: block;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}