.main {
    display: flex;
    width: 100%;
    background: url('../Core/KIT/FunBox/img/Pattern.png');
    flex-direction: column;
    justify-content: center;
    overflow-y: auto;
}

.header {
    font-size: 36px;
    color: #ffffff;
    text-align: center;
    height: 34px;
}

.content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}