.margin_content {
    margin-top: 15px;
}

.form_group {
    margin-left: 20px;
}

.button {
    width: 225px;
    composes: margin_content;
}

.header_text {
    color: #000;
    font-weight: bold;
    composes: margin_content;
}