.background_container {
    background: #f2f2f2;
}

.color_description {
    color: #666;
}

.description {
    font-size: 16px;
    composes: color_description;
    padding: 20px 0 0 8px;
    line-height: 12px;
}

.header {
    height: 45px;
    flex-shrink: 0;
    display: flex;
}

.header_left {
    width: 45px;
    height: 100%;
    composes: background_container;
}

.header_right {
    display: flex;
    flex-grow: 1;
    border-right: 4px solid ;
    border-top-right-radius: 12px;
    border-top: 4px solid;
    border-color: #1698d9;
    composes: background_container;
}