.main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    font-size: 42px;
    background: #1698d9;
    border-radius: 50%;
    flex-direction: column;
}

.text {
    color: #fff;
    font-size: 42px;
}

.unit {
    composes: text;
    font-size: 21px;
    line-height: 13px;
}