.main {
    display: flex;
    position: relative;
    flex-direction: column;
}

.main *{
    font-family: Trebuchet MS;
}

.product_container {
    display: flex;
    height: 480px;
    width: 320px;
    margin: 30px 40px 0 40px;
    flex-direction: column;
    cursor: pointer;
}

.disabled {
    cursor: default;
}