.main {
    height: 40px;
    display: flex;
}


.pagination {
    flex-grow: 1;
    display: flex;
    border-top: 1px solid #d8d8d8;
    padding: 0 10px;
    align-items: center;
}

.pagination_list {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
}

.pagination_item {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
    cursor: pointer;
}

.active_item{
    border: 4px solid #007bff;
}

.pagination_text {

}